.grafico-container {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.2);
  max-width: 900px;
  margin: auto;
}

canvas {
  width: 100% !important;
  height: 400px !important;
}
