<mat-dialog-content>
  <div class="scrollable-content">
    <h2>Agregar Expediente</h2>

    <form [formGroup]="form" class="formulario-expediente">
    <mat-form-field appearance="outline">
      <mat-label>Número</mat-label>
      <input matInput formControlName="numero" type="number" />
      <mat-error *ngIf="form.get('numero')?.hasError('required')">El número es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Año</mat-label>
      <input matInput formControlName="anio" type="number" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option *ngFor="let estado of estados" [value]="estado">
          {{ estado }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Porcentaje</mat-label>
      <input matInput formControlName="porcentaje" type="number" />
      <mat-error *ngIf="form.get('porcentaje')?.hasError('required')">El porcentaje es requerido</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de inicio</mat-label>
      <input matInput formControlName="fechaInicio" type="date" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label >Tipo de juicio</mat-label>
      <mat-select formControlName="juicio">
        <mat-option *ngFor="let juicio of juicios" [value]="juicio">
          {{ juicio }}
        </mat-option>
      </mat-select>
    </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
          <mat-label style="color:black">{{mensajeSelectJuzgado}}</mat-label>
          <mat-select style="color:black" formControlName="tipo" (selectionChange)="cambiarTipoJuzgado()">
            <mat-option  *ngFor="let tipo of tipos" [value]="tipo">
              {{ tipo }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('tipo')?.invalid && form.get('tipo')?.touched">
            El tipo es requerido
          </mat-error>
        </mat-form-field>
        
        

      <mat-form-field appearance="outline" class="full-width">
        <mat-label style="color:black">Juzgados</mat-label>
        <mat-select style="color:black" formControlName="juzgado" [(ngModel)]="juzgadoElegido">
          <mat-option *ngFor="let juzgado of juzgados" [value]="juzgado">
            {{ juzgado.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls?.['juzgado']?.invalid && (form.controls?.['juzgado']?.dirty || form.controls?.['juzgado']?.touched)">
          <span *ngIf="form.controls?.['juzgado']?.errors?.['required']" style="color:red">El juzgado es requerido</span>
        </mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
        <mat-label style="color:black">Abogado</mat-label>
        <mat-select style="color:black"  formControlName="abogado" [(ngModel)]="abogadoSeleccionado">
          <mat-option style="color:black" *ngFor="let usuario of listaUsuarios" [value]="usuario">
            {{ usuario.nombre }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls?.['abogao']?.invalid && (form.controls?.['abogado']?.dirty || form.controls?.['abogado']?.touched)">
          <span *ngIf="form.controls?.['abogado']?.errors?.['required']" style="color:red">El abogado es requerido</span>
        </mat-error>
      </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
      <mat-label>Procurador</mat-label>
      <mat-select formControlName="procurador" [(ngModel)]="procuradorSeleccionado">
        <mat-option *ngFor="let usuario of listaUsuarios" [value]="usuario">
          {{ usuario.nombre }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('procurador')?.hasError('required') && form.get('procurador')?.touched">
        El procurador es requerido
      </mat-error>
    </mat-form-field>

      <mat-form-field appearance="outline">
      <mat-label>Demandados</mat-label>
      <mat-select formControlName="demandado" (selectionChange)="seleccionarDemandado($event.value)">
        <mat-option *ngFor="let demandado of demandados" [value]="demandado">
          {{ demandado.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <div class="clientes-agregados">
      <h3 style="color:aliceblue">Demandados Agregados</h3>
      <div *ngFor="let demandado of demandadosAgregados" class="cliente-item">
        {{ demandado.nombre }}
        <button mat-icon-button color="warn" (click)="eliminarDemandado(demandado)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
<mat-form-field appearance="outline" class="full-width">
  <mat-label>Clientes</mat-label>

  <!-- Input que abre el autocomplete -->
  <input
    matInput
    [formControl]="clienteCtrl"
    [matAutocomplete]="auto"
    placeholder="Busca por nombre o apellido" />

  <!-- Autocomplete -->
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayCliente"
    (optionSelected)="seleccionarCliente($event.option.value)">
    <mat-option
      *ngFor="let cliente of filteredClientes | async"
      [value]="cliente">
      {{ cliente.nombre }} {{ cliente.apellido }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

    <!-- Contenedor con scroll para clientes agregados -->
    <div class="clientes-agregados">
      <h3 style="color:aliceblue">Clientes Agregados</h3>
      <div *ngFor="let cliente of clientesAgregados" class="cliente-item">
        {{ cliente.nombre }} {{ cliente.apellido }}
        <button mat-icon-button color="warn" (click)="eliminarCliente(cliente)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog()">Cancelar</button>
  <button mat-flat-button color="primary" (click)="acceptDialog()">Aceptar</button>
</mat-dialog-actions>
