<div class="content mat-elevation-z8">

  <ion-list class="lista-clientes">

    <div class="toolbar">
      <ion-input 
        placeholder="Buscar por numero, actora o demandado"
        class="input-busqueda"
        [(ngModel)]="busqueda"
        (ngModelChange)="buscar()">
      </ion-input>

      <button mat-button class="list-button" (click)="abrirDialog()">
        <mat-icon style="color: #ffffff">person</mat-icon>
        <span style="color: #ffffff">Agregar expediente</span>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color: #ffffff">download</mat-icon>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color: #ffffff">more_vert</mat-icon>
      </button>
    </div>

    <div>
      <ion-item-sliding *ngFor="let expediente of expedientes" class="cliente">
        <ion-item class="cliente" *ngIf="hayExpedientes && expedientes.length > 0">
          <ion-label>
            <h2 *ngIf="expediente.clientes.length === 1">
              {{ expediente.numero }}/{{ expediente.anio }} {{ expediente.clientes[0].nombre }} {{ expediente.clientes[0].apellido }} contra {{ expediente.demandadoModel!.nombre }}
            </h2>
            <h2 *ngIf="expediente.clientes.length > 1">
              {{ expediente.numero }}/{{ expediente.anio }} {{ expediente.clientes[0].nombre }} {{ expediente.clientes[0].apellido }} y otros contra {{ expediente.demandadoModel!.nombre }}
            </h2>
            <h2 *ngIf="expediente.clientes.length === 0">
              {{ expediente.numero }}/{{ expediente.anio }} (sin actora) contra {{ expediente.demandadoModel!.nombre }}
            </h2>
          </ion-label>

          <button mat-button class="list-button" (click)="eliminarExpediente(expediente)">
            <mat-icon style="color: #ffffff">delete</mat-icon>
          </button>

          <button mat-button class="list-button" (click)="abrirModificar(expediente)">
            <mat-icon style="color: #ffffff">edit</mat-icon>
          </button>
        </ion-item>
      </ion-item-sliding>

      <ion-item *ngIf="!hayExpedientes && expedientes.length <= 0" class="cliente">
        <ion-label text-center>{{ texto }}</ion-label>
      </ion-item>
    </div>

  </ion-list>

</div>
