<div class="content mat-elevation-z8" [class.blur-content]="cargando">

  <div class="toolbar">
    <ion-input style="color: white; font-weight: bold;"
      placeholder="Buscar por número o año"
      class="input-busqueda"
      [(ngModel)]="busqueda"
      (ngModelChange)="filtrar()">
    </ion-input>
<!-- 
    <button mat-button class="list-button">
      <mat-icon style="color: #ffffff">download</mat-icon>
    </button>
    <button mat-button class="list-button">
      <mat-icon style="color: #ffffff">more_vert</mat-icon>
    </button> -->

    <label for="selectEstadoHonorario" class="custom-select">
  <select id="selectEstadoHonorario" [(ngModel)]="estadoHonorarioSeleccionado" (change)="filtrar()">
    <option value="">Todos los estados de honorario</option>
    <option *ngFor="let estado of estadosHonorarios" [value]="estado">
      {{ estado }}
    </option>
  </select>
</label>



    <label for="styledSelect1" class="custom-select">
      <select id="styledSelect1" name="options" (change)="cambiarEstado($event)">
        <option value="sentencia" selected>Sentencia</option>
        <option value="cobrado">Cobrado</option>

      </select>
    </label>
  </div>

  <div *ngIf="cargando" class="fullscreen-loader">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>

  <div class="table-container" *ngIf="!cargando">
    <table>
      <thead>
        <tr>
          <th (click)="ordenarPor('numero')" [class.activo]="ordenCampo === 'numero'">
            Nº expediente
            <span class="flecha" *ngIf="ordenCampo === 'numero'">{{ ordenAscendente ? '↑' : '↓' }}</span>
          </th>
          <th>
            Caratula
          </th>
          <th *ngIf="estado == 'sentencia'"  (click)="ordenarPor('juzgado')" [class.activo]="ordenCampo === 'juzgado'">
            Juzgado
            <span class="flecha" *ngIf="ordenCampo === 'juzgado'">{{ ordenAscendente ? '↑' : '↓' }}</span>
          </th>
          <th>
            Cobranza
          </th>
          <th *ngIf="estado == 'sentencia'">
            Estado
          </th>
          <th *ngIf="estado == 'sentencia'">
            Ultimo movimiento
          </th>
          <th *ngIf="estado == 'sentencia'">
            Importe total
          </th>
          <th *ngIf="estado == 'cobrado'">
            Fecha de cobro
          </th>
          <th *ngIf="estado == 'sentencia'">Porcentaje total a cobrar</th>
          <th>Porcentaje final a cobrar</th>
          <th *ngIf="estado == 'cobrado'">
            Cobrado
          </th>
        </tr>
      </thead>
   <tbody>
  <ng-container *ngFor="let item of honorariosDiferidosOrdenados"
                (mouseenter)="item.hover = true"
                (mouseleave)="item.hover = false">
    
    <ng-container *ngIf="esVisible(item)">
      
      <tr [class.hover]="item.hover" >
        <td [attr.rowspan]="5" style="background-color: #07295c;">{{ item.numero }}/{{ item.anio }}</td>
        <td [attr.rowspan]="5" style="background-color: #07295c;">
          {{item.caratula}}
        </td>
        <td [attr.rowspan]="5" *ngIf="estado == 'sentencia'" style="background-color: #07295c;">{{ item.juzgadoModel?.tipo }}</td>

        <!-- CAPITAL -->
        <td [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'capital') }">Capital</td>
        <td *ngIf="mostrarCapital(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'capital') }">
          {{ item.subEstadoCapitalSeleccionado || item.estadoLiquidacionCapitalSeleccionado }}
        </td>
        <td *ngIf="mostrarCapital(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'capital') }">
          {{ item.fechaCapitalSubestado?.split('T')[0] || item.fechaLiquidacionCapital?.split('T')[0] }}
        </td>
        <td *ngIf="mostrarCapital(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'capital') }">
          <span>
            {{ item.montoLiquidacionCapital | currency:'$' }} 
          </span>
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarCapital(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'capital') }">
          {{ calcularCobro(item.montoLiquidacionCapital, item.porcentaje) | currency:'$' }}
        </td>
        <td *ngIf=" mostrarCapital(item) && estado == 'cobrado'" style="background-color: #07295c;">          
          {{ item.fecha_cobro_capital?.split('T')[0]}}
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarCapital(item)" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'capital') }">
          {{ calcularCobroFinal(item.montoLiquidacionCapital, item.porcentaje, item.usuario_id) | currency:'$' }}
          <button *ngIf="!item.capitalCobrado" mat-icon-button color="primary" (click)="cobrar('capital', item)">
            <mat-icon style="color: limegreen">attach_money</mat-icon>
          </button>
          <mat-icon *ngIf="item.capitalCobrado" style="color: limegreen">check_circle</mat-icon>
        </td>


         <td *ngIf="estado == 'cobrado' && mostrarCapital(item)" style="background-color: #07295c;">          
          {{item.capitalPagoParcial | currency:'$'}}
        </td>

      <td *ngIf="item.capitalCobrado && estado == 'sentencia'" [attr.colspan]="5" style="text-align: center; color: limegreen;">
        Ya está todo cobrado
      </td>

        <td *ngIf="!item.capitalCobrado && item.capitalPagoParcial == null && estado == 'cobrado' && item.estado!='Archivo'" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Pendiente a cobrar
      </td>

      <td *ngIf="item.estado == 'Archivo' && estado == 'cobrado'" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Archivo
      </td>
      </tr>

      <!-- HONORARIO -->
      <tr [class.hover]="item.hover" >
        <td [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'honorarios') }">Honorarios</td>
        <td *ngIf="mostrarHonorario(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'honorarios') }">
          {{ item.subEstadoHonorariosSeleccionado || item.estadoLiquidacionHonorariosSeleccionado }}
        </td>
        <td *ngIf="mostrarHonorario(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'honorarios') }">
          {{ item.fechaHonorariosSubestado?.split('T')[0] || item.fechaLiquidacionHonorarios?.split('T')[0] }}
        </td>
        <td *ngIf="mostrarHonorario(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'honorarios') }">
          <span>
            {{ item.montoLiquidacionHonorarios | currency:'$' }}
          </span>
        </td>
        <td  style="background-color: #07295c;" *ngIf="mostrarHonorario(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'honorarios') }">{{ item.montoLiquidacionHonorarios | currency:'$' }}</td>
        <!--  <td style="background-color: #07295c;" *ngIf="mostrarHonorario(item)">
          {{ calcularCobroFinalHonorario(item.montoLiquidacionHonorarios, item.usuario_id) | currency:'$' }}
        </td> -->
        <td *ngIf="mostrarHonorario(item) && estado == 'cobrado' " style="background-color: #07295c;">          
          {{ item.fecha_cobro?.split('T')[0]}}
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarHonorario(item)" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'honorarios') }">
          <span>
          {{ calcularCobroFinalHonorario(item.montoLiquidacionHonorarios, item.usuario_id) | currency:'$' }}
          <button *ngIf="!item.honorarioCobrado" mat-icon-button color="primary" (click)="cobrar('honorario', item)">
            <mat-icon style="color: limegreen">attach_money</mat-icon>
          </button>
          <mat-icon *ngIf="item.honorarioCobrado" style="color: limegreen">check_circle</mat-icon>
          </span>

        </td>
        <td *ngIf="estado == 'cobrado' && mostrarHonorario(item) && item.honorarioCobrado == 1" style="background-color: #07295c;">          
          Todo pago
        </td>

        <td *ngIf="item.honorarioCobrado && estado == 'sentencia'" [attr.colspan]="5" style="text-align: center; color: limegreen;">
        Ya está todo cobrado
      </td>

      <td *ngIf="!item.honorarioCobrado && estado == 'cobrado' && item.estado!='Archivo'" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Pendiente a cobrar
      </td>

      <td *ngIf="item.estado == 'Archivo' && estado == 'cobrado'" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Archivo
      </td>
      </tr>


      <!-- ALZADA -->
      <tr [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">
        <td *ngIf="item.estadoHonorariosAlzadaSeleccionado" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">Alzada</td>
        <td *ngIf="mostrarAlzada(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">{{ item.subEstadoHonorariosAlzadaSeleccionado || '-' }}</td>
        <td *ngIf="mostrarAlzada(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">{{ item.fechaHonorariosAlzada?.split('T')[0] || '-' }}</td>
        <!--<td>{{ item.montoAcuerdo_alzada | currency:'$' }}</td>-->
        <td *ngIf=" mostrarAlzada(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">
          <span>
            {{ item.montoAcuerdo_alzada | currency:'$' }} 
          </span>
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarAlzada(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">
          {{ item.montoAcuerdo_alzada | currency:'$' }}
        </td>
        <td *ngIf=" mostrarAlzada(item) && estado == 'cobrado' " style="background-color: #07295c;" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">          
          {{ item.fechaHonorariosAlzada.split('T')[0]}}
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarAlzada(item)" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">
            {{ calcularCobroFinalHonorario(item.montoAcuerdo_alzada, item.usuario_id) | currency:'$' }}
          <button *ngIf="!item.honorarioAlzadaCobrado" mat-icon-button color="primary" (click)="cobrar('alzada', item)">
            <mat-icon style="color: limegreen">attach_money</mat-icon>
          </button>
          <mat-icon *ngIf="item.honorarioAlzadaCobrado" style="color: limegreen">check_circle</mat-icon> 
        </td>
       <!-- -- -->
        <td *ngIf="estado == 'cobrado' && mostrarAlzada(item) && item.honorarioAlzadaCobrado== 1" style="background-color: #07295c;" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">          
          Todo pago
        </td>

        <td *ngIf="item.honorarioAlzadaCobrado && estado == 'sentencia'" [attr.colspan]="5" style="text-align: center; color: limegreen;" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'alzada') }">
        Ya está todo cobrado
      </td>

      <td *ngIf="!item.honorarioAlzadaCobrado && estado == 'cobrado' && item.estadoHonorariosAlzadaSeleccionado" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Pendiente a cobrar
      </td>

      <td *ngIf="item.estado == 'Archivo' && estado == 'cobrado' && mostrarAlzada(item)" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Archivo
      </td>
      </tr>

      <!-- EJECUCIÓN -->
      <tr [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">
        <td *ngIf="item.estadoHonorariosEjecucionSeleccionado" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">Ejecución</td>
        <td *ngIf="mostrarEjecucion(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">{{ item.subEstadoHonorariosEjecucionSeleccionado || '-' }}</td>
        <td *ngIf="mostrarEjecucion(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">{{ item.fechaHonorariosEjecucion?.split('T')[0] || '-' }}</td>
        <!-- <td>{{ item.montoHonorariosEjecucion | currency:'$' }}</td> -->
        <td *ngIf="mostrarEjecucion(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">
          <span>
            {{ item.montoHonorariosEjecucion | currency:'$' }} 
          </span>
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarEjecucion(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">
          {{ item.montoHonorariosEjecucion | currency:'$' }}
        </td>
        <td *ngIf="mostrarEjecucion(item) && estado == 'cobrado' " style="background-color: #07295c;" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">          
          {{ item.fechaHonorariosEjecucion.split('T')[0]}}
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarEjecucion(item)" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'ejecucion') }">
            {{ calcularCobroFinalHonorario(item.montoHonorariosEjecucion, item.usuario_id) | currency:'$' }}
          <button *ngIf="!item.honorarioEjecucionCobrado" mat-icon-button color="primary" (click)="cobrar('ejecucion', item)">
            <mat-icon style="color: limegreen">attach_money</mat-icon>
          </button>
          <mat-icon *ngIf="item.honorarioEjecucionCobrado" style="color: limegreen">check_circle</mat-icon> 
        </td>
        <td *ngIf="estado == 'cobrado' && mostrarEjecucion(item) && item.honorarioEjecucionCobrado == 1" style="background-color: #07295c;">          
          Todo pago
        </td>


      <td *ngIf="item.honorarioEjecucionCobrado && estado == 'sentencia'" [attr.colspan]="5" style="text-align: center; color: limegreen;">
        Ya está todo cobrado
      </td>

      <td *ngIf="!item.honorarioEjecucionCobrado && estado == 'cobrado' && item.estadoHonorariosEjecucionSeleccionado" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Pendiente a cobrar
      </td>

      <td *ngIf="item.estado == 'Archivo' && estado == 'cobrado' && mostrarEjecucion(item)" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Archivo
      </td>
      </tr>

      <!-- DIFERENCIA -->
      <tr [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">
        <td *ngIf="item.estadoHonorariosDiferenciaSeleccionado" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">Diferencia</td>
        <td *ngIf="mostrarDiferencia(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">{{ item.subEstadoHonorariosDiferenciaSeleccionado || '-' }}</td>
        <td *ngIf="mostrarDiferencia(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">{{ item.fechaHonorariosDiferencia?.split('T')[0] || '-' }}</td>
        <td *ngIf="mostrarDiferencia(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">
          <span>
            {{ item.montoHonorariosDiferencia | currency:'$' }} 
          </span>
        </td>
        <td style="background-color: #07295c;" *ngIf="mostrarDiferencia(item) && estado == 'sentencia'" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">
          {{ item.montoHonorariosDiferencia | currency:'$'}}
        </td>
        <td *ngIf="mostrarDiferencia(item) && estado == 'cobrado' " style="background-color: #07295c;">          
          {{ item.fechaHonorariosDiferencia.split('T')[0]}}
        </td>

        <td style="background-color: #07295c;" *ngIf="mostrarDiferencia(item)" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">
        {{ calcularCobroFinalHonorario(item.montoHonorariosDiferencia, item.usuario_id) | currency:'$' }}

          <button *ngIf="!item.honorarioDiferenciaCobrado" mat-icon-button color="primary" (click)="cobrar('diferencia', item)">
            <mat-icon style="color: limegreen">attach_money</mat-icon>
          </button>
          <mat-icon *ngIf="item.honorarioDiferenciaCobrado" style="color: limegreen">check_circle</mat-icon> 
        </td>
        <td *ngIf="estado == 'cobrado' && mostrarDiferencia(item) && item.honorarioDiferenciaCobrado== 1" style="background-color: #07295c;">          
          Todo pago
        </td>
        <!-- -->
      <td *ngIf="item.honorarioDiferenciaCobrado && estado == 'sentencia'" [attr.colspan]="5" style="text-align: center; color: limegreen;" [ngClass]="{ 'estado-giro': tieneEstadoGiroPorTipo(item, 'diferencia') }">
        Ya está todo cobrado
      </td>

      <td *ngIf="!item.honorarioDiferenciaCobrado && estado == 'cobrado' && item.estadoHonorariosDiferenciaSeleccionado" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Pendiente a cobrar
      </td>

        <td *ngIf="item.estado == 'Archivo' && estado == 'cobrado' && mostrarDiferencia(item)" [attr.colspan]="5" style="text-align: center; color: yellow;">
        Archivo
      </td>
        
      </tr>

    </ng-container>
  </ng-container>
</tbody>

      
      
      
    </table>
  </div>

</div>
