<div class="content mat-elevation-z8" [class.blur-content]="cargando">

  <div class="toolbar">
    <ion-input style="color: white; font-weight: bold;"
      placeholder="Buscar por número o año"
      class="input-busqueda"
      [(ngModel)]="busqueda"
      (ngModelChange)="buscar()">
    </ion-input>

    <button mat-button class="list-button">
      <mat-icon style="color: #ffffff">download</mat-icon>
    </button>
    <button mat-button class="list-button">
      <mat-icon style="color: #ffffff">more_vert</mat-icon>
    </button>

    <label for="styledSelect1" class="custom-select">
      <select id="styledSelect1" name="options" (change)="cambiarEstado($event)">
        <option value="">Seleccionar estado</option>
        <option value="sentencia" selected>Sentencia</option>
      </select>
    </label>
  </div>

  <div *ngIf="cargando" class="fullscreen-loader">
    <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
  </div>

  <div class="table-container" *ngIf="!cargando">
    <table>
      <thead>
        <tr>
          <th (click)="ordenarPor('numero')" [class.activo]="ordenCampo === 'numero'">
            Nº expediente
            <span class="flecha" *ngIf="ordenCampo === 'numero'">{{ ordenAscendente ? '↑' : '↓' }}</span>
          </th>
          <th  (click)="ordenarPor('juzgado')" [class.activo]="ordenCampo === 'juzgado'">
            Juzgado
            <span class="flecha" *ngIf="ordenCampo === 'juzgado'">{{ ordenAscendente ? '↑' : '↓' }}</span>

          </th>
          <th>
            Cobranza
          </th>
          <th>
            Estado
          </th>
          <th>
            Ultimo movimiento
          </th>
          <th>
            Importe
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of honorariosDiferidosOrdenados">
          <tr>
            <!-- Nº EXPEDIENTE ocupa dos filas -->
            <td rowspan="2">{{ item.numero }}/{{ item.anio }}</td>
      
            <!-- JUZGADO - PRIMERA FILA -->
            <td  rowspan="2">
              {{ item.juzgadoModel?.nombre || 'Juzgado sin asignar' }}
            </td>
      
            <!-- COBRANZA / CAPITAL -->
             <td *ngIf="!item.capitalCobrado">Capital</td>

      
            <!-- ESTADO / FECHA CAPITAL -->
            <td *ngIf="!item.capitalCobrado">
              {{ item.subEstadoCapitalSeleccionado || item.estadoLiquidacionCapitalSeleccionado }}
            </td>

      
            <!-- HONORARIO / ESTADO -->
            <td *ngIf="!item.capitalCobrado">
             <!--  {{ (item.fechaCapitalSubestado || item.fechaLiquidacionCapital) | date:'dd/MM/yyyy' }} -->
              {{ item.fechaCapitalSubestado?.split('T')[0] || item.fechaLiquidacionCapital?.split('T')[0] }}

            </td>
      
            <!-- FECHA HONORARIOS -->
<!-- Capital: Monto -->
<td *ngIf="!item.capitalCobrado">
  <span *ngIf="item.montoLiquidacionCapital ">
    ${{ item.montoLiquidacionCapital | number:'1.0-0'}}
    <button *ngIf="!item.capitalCobrado" mat-icon-button color="primary" (click)="cobrar('capital', item)">
      <mat-icon>attach_money</mat-icon>
    </button>
    <mat-icon *ngIf="item.capitalCobrado" style="color: limegreen">check_circle</mat-icon>
  </span>
</td>
            

          </tr>
      
          <tr>
            <!-- JUZGADO - SEGUNDA FILA (detalles o info opcional) -->

      
            <td *ngIf="!item.honorarioCobrado">
              Honorarios
            </td>
      
            <td *ngIf="!item.honorarioCobrado">
              {{ item.subEstadoHonorariosSeleccionado || item.estadoLiquidacionHonorariosSeleccionado }}
            </td>
            <td *ngIf="!item.honorarioCobrado"
            >
             
            <!--{{ (item.fechaHonorariosSubestado || item.fechaLiquidacionHonorarios) | date:'dd/MM/yyyy' }} -->
            {{ item.fechaHonorariosSubestado?.split('T')[0] || item.fechaLiquidacionHonorarios?.split('T')[0] }}

            </td>
      

            <td *ngIf="!item.honorarioCobrado">
              <span *ngIf="item.montoLiquidacionHonorarios">
                ${{ item.montoLiquidacionHonorarios | number:'1.0-0'}}
                <button *ngIf="!item.honorarioCobrado" mat-icon-button color="primary" (click)="cobrar('honorario', item)">
                  <mat-icon>attach_money</mat-icon>
                </button>
                <mat-icon *ngIf="item.honorarioCobrado" style="color: limegreen">check_circle</mat-icon>
              </span>
            </td>
            

            
          </tr>
        </ng-container>
      </tbody>
      
      
      
    </table>
  </div>

</div>
