<div> 
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <ion-list class="lista-clientes">
          <!-- Sección 1: Búsqueda de expediente -->
          <div *ngIf="menu == '1'">

            <div class="toolbar">
              <ion-input 
                placeholder="Número" 
                class="input-busqueda"
                (keypress)="validateNumber($event)"
                [(ngModel)]="numero">
              </ion-input>
      
              <ion-input 
                placeholder="Año" 
                class="input-busqueda"
                (keypress)="validateNumber($event)"
                [(ngModel)]="anio">
              </ion-input>

              <form [formGroup]="form">
                <mat-form-field appearance="outline" class="full-width" style="width: 100%">
                  <mat-label style="color: white">Seleccionar tipo de juzgado</mat-label>
                  <mat-select style="color: white" formControlName="tipo">
                    <mat-option *ngFor="let tipo of tipos" [value]="tipo">
                      {{ tipo }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </form>
            </div>

            <button mat-button class="menu-button" (click)="buscar()">
              <mat-icon style="color: #ffffff">search</mat-icon>
              <span style="color: #ffffff">Buscar expediente</span>
            </button>
          </div>

        <form [formGroup]="form" >
          <div *ngIf="menu == '2'">
            <button mat-button class="menu-button" (click)="cambiarMenu('1')">
              <mat-icon style="color: #ffffff">arrow_back_ios</mat-icon>
              <span style="color: #ffffff">Salir</span>
            </button>

            <div class="centrado-total">
              <mat-form-field appearance="outline" class="centrado-total">
                <mat-label style="color: white">Estado del expediente</mat-label>
                <mat-select style="color: white" [(ngModel)]="estadoSeleccionado">
                  <mat-option *ngFor="let estado of estados" [value]="estado">
                    {{ estado }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

              <span class="divider-text; centrado-total">Ultimo movimiento</span>

            <ion-input
              placeholder="Ultimo movimiento"
              type="date"
              class="input-busqueda"
              formControlName="ultimo_movimiento"
              name="ultimo_movimiento"
              id="ultimo_movimiento">
            </ion-input>

              <span class="divider-text; centrado-total">Fecha atención</span>

              <ion-input
                placeholder="Fecha atención"
                type="date"
                class="input-busqueda"
                formControlName="fecha_atencion"
                name="fecha_atencion"
                id="fecha_atencion">
              </ion-input>

              <div class="flex-responsive">
                <button mat-button class="menu-estado" style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('3')">
                  <span style="color: #ffffff">Siguiente</span>
                </button>
              </div>
          </div>

              <!-- Menu para sentencia-->
              <div *ngIf="menu == '3'">
                  <button mat-button class="menu-button" (click)="cambiarMenu('1')">
                    <mat-icon style="color: #ffffff">arrow_back_ios</mat-icon>
                    <span style="color: #ffffff">Salir</span>
                  </button>

                <div class="divider-container">
                  <mat-divider class="white-divider"></mat-divider>
                  <span class="divider-text">Detalles de la sentencia</span>
                  <mat-divider class="white-divider"></mat-divider>
                </div>
                <div class="centrado-total">
                <mat-form-field appearance="outline" class="half-width">
                    <mat-label style="color: white">Jueces</mat-label>
                    <mat-select style="color: white" formControlName="juez" [(ngModel)]="juezSeleccionado">
                      <mat-option *ngFor="let juez of jueces" [value]="juez">
                        {{ juez.nombre }} {{juez.apellido}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls?.['juez']?.invalid && (form.controls?.['juez']?.dirty || form.controls?.['juez']?.touched)">
                      <span *ngIf="form.controls?.['juez']?.errors?.['required']" style="color:red">El juez es requerido</span>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field *ngIf="expediente.juzgadoModel.tipo === 'CCF'" appearance="outline" style="flex: 1;">
                  <mat-label style="color: white">Sala</mat-label>
                  <mat-select
                    style="color: white"
                    formControlName="sala"               
                    [(ngModel)]="sala"                    
                    name="sala"
                  >
                    <mat-option *ngFor="let s of ['Sin asignar','I','II','III']" [value]="s">
                      {{ s }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Para COM: A, B, C, D, E, F -->
                <mat-form-field *ngIf="expediente.juzgadoModel.tipo === 'COM'" appearance="outline" style="flex: 1;">
                  <mat-label style="color: white">Sala</mat-label>
                  <mat-select
                    style="color: white"
                    formControlName="sala"
                    [(ngModel)]="sala"
                    name="sala"
                  >
                    <mat-option *ngFor="let s of ['Sin asignar','A','B','C','D','E','F']" [value]="s">
                      {{ s }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>



                <div class="flex-responsive">
                  <button mat-button class="menu-estado; " style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('2')">
                    <span style="color: #ffffff">Anterior</span>
                  </button>
                  <button mat-button class="menu-estado" style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('4')">
                    <span style="color: #ffffff">Siguiente</span>
                  </button>
                </div>
              </div>



              <!-- Menu para honoario -->
              <div *ngIf="menu == '4' && estadoSeleccionado == 'Sentencia'" >
              <button mat-button class="menu-button" (click)="cambiarMenu('1')">
                <mat-icon style="color: #ffffff">arrow_back_ios</mat-icon>
                <span style="color: #ffffff">Salir</span>
              </button>

              <!-- 📌 HONORARIOS -->
              <div class="divider-container">
                <mat-divider class="white-divider"></mat-divider>
                <span class="divider-text">Detalles del Honorario</span>
                <mat-divider class="white-divider"></mat-divider>
              </div>

                <ion-input *ngIf="expediente.honorarioCobrado == 0 && umaSeleccionado != 'acuerdo'"
                  placeholder="Cantidad de UMA" 
                  formControlName="cantidadUMA"
                  class="input-busqueda"
                  type="text"
                  [(ngModel)]="cantidadUMA"
                  (ngModelChange)="calcularMontoUMA()">
                </ion-input>

                <div class="centrado-total">
                  <mat-form-field appearance="outline" class="half-width">
                    <mat-label style="color: white">Seleccioná UMA</mat-label>
                      <mat-select
                        formControlName="umaSeleccionado"
                        [compareWith]="compararUMA"
                        (selectionChange)="calcularMontoUMA()" style="color: white" 
                        formControlName="umaSeleccionado">
                        <mat-option value="acuerdo">Acuerdo</mat-option>
                        <mat-option *ngFor="let umas of uma" [value]="umas">
                          {{ umas.valor }}
                        </mat-option>
                    </mat-select>
                  <!--  <mat-error *ngIf="form.controls?.['juez']?.invalid && (form.controls?.['juez']?.dirty || form.controls?.['juez']?.touched)">
                      <span *ngIf="form.controls?.['juez']?.errors?.['required']" style="color:red">El juez es requerido</span>
                    </mat-error> -->
                  </mat-form-field>
                </div>

                  <ion-input *ngIf="umaSeleccionado == 'acuerdo'"
                  placeholder="Monto" 
                  formControlName="montoAcuerdo"
                  class="input-busqueda"
                  type="number"
                  [(ngModel)]="montoUMA">
                </ion-input>

                <!-- Monto calculado -->
                  <div class="centrado-total">

                <h2 *ngIf="expediente.honorarioCobrado == 0">
                  MONTO: ${{ montoUMA | number:'1.0-0' }}
                </h2> 
                </div>

              <!-- Contenedor general -->
              <div style="display: flex; flex-direction: column; gap: 16px;" *ngIf="expediente.honorarioCobrado!= 1">



          <!-- CASO REGULACION Y COSTAS POR SU ORDEN-->
           <div class="flex-responsive">
            <mat-form-field appearance="outline" *ngIf="honorarioSeleccionado != 'Difiere regulacion 1º instancia'">
              <mat-label style="color: white">Estado de Honorarios</mat-label>
              <mat-select style="color: white" [(ngModel)]="estadoHonorariosSeleccionado" name="estadoHonorariosSeleccionado" (selectionChange)="actualizarValidacionesCondicionales(); cambiarEstado('honorario')">
                <mat-option [value]="'apelado'" [disabled]="deshabilitarApeladoOFirme">Apelado</mat-option>
                <mat-option [value]="'firme'" [disabled]="deshabilitarApeladoOFirme">Firme</mat-option>
                <mat-option [value]="'pendiente'" [disabled]="deshabilitarApeladoOFirme">Pendiente</mat-option>
              </mat-select>
            </mat-form-field>

            <!-- CASO DIFIERE REGLACION-->
            <mat-form-field appearance="outline" *ngIf="honorarioSeleccionado == 'Difiere regulacion 1º instancia'">
              <mat-label style="color: white">Estado de Honorarios</mat-label>
              <mat-select style="color: white" [(ngModel)]="estadoHonorariosSeleccionado" name="estadoHonorariosSeleccionado" (selectionChange)="actualizarValidacionesCondicionales()">
                <mat-option [value]="'diferido'">Diferido</mat-option>
              </mat-select>
            </mat-form-field>
    

            <!-- Subestado o Estado de liquidación -->
            <mat-form-field *ngIf="estadoHonorariosSeleccionado === 'apelado'" appearance="outline" style="flex: 1;">
              <mat-label style="color: white">Subestado de Honorarios</mat-label>
              <mat-select style="color: white" [(ngModel)]="subEstadoHonorariosSeleccionado" name="subEstadoHonorariosSeleccionado" (selectionChange)="actualizarValidacionesCondicionales()">
                <mat-option value="pendiente de elevacion" [disabled]="deshabilitarApeladoOFirme">Pendiente de elevación</mat-option>
                <mat-option value="en sala" [disabled]="deshabilitarApeladoOFirme">En sala</mat-option>
                <mat-option value="resolucion sala - confirma" [disabled]="deshabilitarApeladoOFirme">Resolución sala - Confirma</mat-option>
                <mat-option value="resolucion sala - se elevan" [disabled]="deshabilitarApeladoOFirme">Resolución sala - Se elevan</mat-option>
                <mat-option value="resolucion sala - se reducen" [disabled]="deshabilitarApeladoOFirme">Resolución sala - Se reducen</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="estadoHonorariosSeleccionado === 'pendiente'" appearance="outline" style="flex: 1;">
              <mat-label style="color: white">Subestado de Honorarios</mat-label>
              <mat-select style="color: white" [(ngModel)]="subEstadoHonorariosSeleccionado" name="subEstadoHonorariosSeleccionado" (selectionChange)="actualizarValidacionesCondicionales()">
                <mat-option value="sentencia" [disabled]="deshabilitarApeladoOFirme">Sentencia</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="estadoHonorariosSeleccionado === 'diferido'" appearance="outline" style="flex: 1;">
              <mat-label style="color: white">Subestado de Honorarios</mat-label>
              <mat-select style="color: white" [(ngModel)]="subEstadoHonorariosSeleccionado" name="subEstadoHonorariosSeleccionado" (selectionChange)="actualizarValidacionesCondicionales()">
                <mat-option value="diferido">Diferido</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="estadoHonorariosSeleccionado === 'firme'" appearance="outline" style="flex: 1;">
              <mat-label style="color: white">Estado de liquidación Honorarios</mat-label>
              <mat-select
              style="color: white"
              [(ngModel)]="subEstadoHonorariosSeleccionado"
              name="subEstadoHonorariosSeleccionado"
              (selectionChange)="actualizarValidacionesCondicionales()">  
              <mat-option value="espera que vuelva">Espera que vuelva</mat-option>
              <mat-option value="honorario se intima">Honorario se intima</mat-option>
              <mat-option value="honorario cedula">honorario cedula</mat-option>
              <mat-option value="honorario solicita embargo">Honorario solicita embargo</mat-option>
              <mat-option value="honorario embargo">Honorario embargo</mat-option>
              <mat-option value="da en pago parcial">Da en pago parcial</mat-option>
              <mat-option value="da en pago total">Da en pago total</mat-option>
              <mat-option value="giro - solicita">Giro - solicita</mat-option>
              <mat-option value="giro - previo">Giro - previo</mat-option>
              <mat-option value="giro - consiente">Giro - consiente</mat-option>
              <mat-option value="giro">Giro</mat-option>
            </mat-select>           
            </mat-form-field>
           </div>

            <ion-input 
              type="date"
              class="input-busqueda"
              [(ngModel)]="fechaHonorariosSubestado"
              name="fechaHonorariosSubestado">
            </ion-input>
          </div>


<!-- 

    <ion-input 
    *ngIf="estadoHonorariosSeleccionado === 'pendiente'"
    type="date"
    class="input-busqueda"
    [(ngModel)]="fechaHonorariosSubestado"
    name="fechaHonorariosSubestado">
  </ion-input>

    <ion-input 
    *ngIf="estadoHonorariosSeleccionado === 'diferido'"
    type="date"
    class="input-busqueda"
    [(ngModel)]="fechaHonorariosSubestado"
    name="fechaHonorariosSubestado">
  </ion-input>

    <ion-input 
      *ngIf="estadoHonorariosSeleccionado === 'firme'"
      type="date"
      class="input-busqueda"
      [(ngModel)]="fechaHonorariosSubestado"
      name="fechaHonorariosSubestado">
    </ion-input> -->

                <div class="flex-responsive">
                  <button mat-button class="menu-estado; " style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('3')">
                    <span style="color: #ffffff">Anterior</span>
                  </button>
                  <button mat-button class="menu-estado" style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('5')">
                    <span style="color: #ffffff">Siguiente</span>
                  </button>
                </div>

            <div style="display: flex; flex-direction: column; gap: 16px;" *ngIf="expediente.honorarioCobrado!= 0">
              HONORARIO COBRADO.
            </div>
              </div>

              <!-- Menu para capital-->
              <div *ngIf="menu == '5' && estadoSeleccionado == 'Sentencia'">

              <!-- 📌 CAPITAL -->
                <div class="divider-container">
                  <mat-divider class="white-divider"></mat-divider>
                  <span class="divider-text">Detalles del Capital</span>
                  <mat-divider class="white-divider"></mat-divider>
                </div>

                <!-- Contenedor general -->
                <div style="display: flex; flex-direction: column; gap: 16px;" *ngIf="expediente.capitalCobrado != 1">

                    <!-- Estado del Capital -->
                    <mat-form-field appearance="outline" style="flex: 1;">
                      <mat-label style="color: white">Estado del Capital</mat-label>
                      <mat-select style="color: white" [(ngModel)]="estadoCapitalSeleccionado" name="estadoCapitalSeleccionado" (selectionChange)="actualizarValidacionesCondicionales(); cambiarEstado('capital')">
                        <mat-option value="apelado">Apelado</mat-option>
                        <mat-option value="firme">Firme</mat-option>
                        <mat-option value="pendiente">Pendiente</mat-option>

                      </mat-select>
                    </mat-form-field>

                    <!-- Subestado o Estado de liquidación -->
                    <mat-form-field *ngIf="estadoCapitalSeleccionado == 'apelado'" appearance="outline" style="flex: 1;">
                      <mat-label style="color: white">Subestado del Capital</mat-label>
                      <mat-select style="color: white" [(ngModel)]="subEstadoCapitalSeleccionado" name="subEstadoCapitalSeleccionado" (selectionChange)="actualizarValidacionesCondicionales()">
                        <mat-option value="pendiente de elevacion">Pendiente de elevación</mat-option>
                        <mat-option value="en sala">En sala</mat-option>
                        <mat-option value="resolucion sala">A resolver</mat-option>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field *ngIf="estadoCapitalSeleccionado == 'pendiente'" appearance="outline" style="flex: 1;">
                      <mat-label style="color: white">Subestado del Capital</mat-label>
                      <mat-select style="color: white" [(ngModel)]="subEstadoCapitalSeleccionado" name="subEstadoCapitalSeleccionado" (selectionChange)="actualizarValidacionesCondicionales()">
                        <mat-option value="sentencia">Sentencia</mat-option>
                      </mat-select>
                    </mat-form-field>

                <mat-form-field *ngIf="estadoCapitalSeleccionado == 'firme'" appearance="outline" style="flex: 1;">
                  <mat-label style="color: white">Estado de liquidación Capital</mat-label>
                  <mat-select
                    style="color: white"
                    [(ngModel)]="subEstadoCapitalSeleccionado"
                    name="subEstadoCapitalSeleccionado"
                    (selectionChange)="actualizarValidacionesCondicionales()"
                  >
                      <mat-option value="esperar a que baje de sala">Esperar a que baje de sala</mat-option>
                    <mat-option value="liquidacion pendiente">Liquidación pendiente</mat-option>
                    <mat-option value="liquidacion practicada">Liquidación practicada</mat-option>
                    <mat-option value="liquidacion traslado - solicita">Liquidación traslado - solicite</mat-option>
                    <mat-option value="liquidacion - se aprueba">Liquidación - se aprueba</mat-option>
                    <mat-option value="liquidacion aprobada - se intima">Liquidación aprobada - se intima</mat-option>
                    <mat-option value="liquidacion aprobada - cedula">Liquidación aprobada - cédula</mat-option>
                    <mat-option value="liquidacion embarga">Liquidación embarga</mat-option>
                    <mat-option value="embarga deox">Embarga deox</mat-option>
                    <mat-option value="embargo citese de venta">Embargo citese de venta</mat-option>
                    <mat-option value="da en pago total">Da en pago total</mat-option>
                    <mat-option value="da en pago parcial">Da en pago parcial</mat-option>
                    <mat-option value="giro - solicita">Giro - solicita</mat-option>
                    <mat-option value="giro - previo">Giro - previo</mat-option>
                    <mat-option value="giro - consentido">Giro - consentido</mat-option>
                    <mat-option value="giro">Giro</mat-option>
                  </mat-select>
                </mat-form-field>


                  </div>

                  <!-- Fila de inputs -->

                    <!-- Input fecha -->
                    <ion-input 
                      type="date"
                      class="input-busqueda"
                      [(ngModel)]="fechaCapitalSubestado"
                      name="fechaCapitalSubestado">
                    </ion-input>

               <!--     <ion-input 
                    *ngIf="estadoCapitalSeleccionado == 'pendiente'"
                    type="date"
                    class="input-busqueda"
                    [(ngModel)]="fechaCapitalSubestado"
                    name="fechaCapitalSubestado">
                  </ion-input>

                    <ion-input 
                      *ngIf="estadoCapitalSeleccionado == 'firme'"
                      type="date"
                      class="input-busqueda"
                      [(ngModel)]="fechaCapitalSubestado"
                      name="fechaCapitalSubestado">
                    </ion-input> -->

                    <!-- Input monto -->
                    <ion-input
                      *ngIf="subEstadoCapitalSeleccionado == 'liquidacion practicada'"
                      placeholder="Monto Capital"
                      type="number"
                      class="input-busqueda"
                      [(ngModel)]="montoLiquidacionCapital"
                      name="montoLiquidacionCapital">
                    </ion-input>

                <div style="display: flex; flex-direction: column; gap: 16px;" *ngIf="expediente.capitalCobrado != 0">
                  CAPITAL COBRADO.
                </div>

                    <div class="flex-responsive">
                  <button mat-button class="menu-estado; " style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('4')">
                    <span style="color: #ffffff">Anterior</span>
                  </button>
                  <button mat-button class="menu-estado" style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('6')">
                    <span style="color: #ffffff">Siguiente</span>
                  </button>
                </div>

                </div>


              <!-- Menu para honoarios extras-->
              <div *ngIf="menu == '6' && estadoSeleccionado == 'Sentencia'">

                <mat-form-field appearance="outline" style="flex: 1;" class="centrado-total">
                  <mat-label style="color: white">Tipo de Honorarios</mat-label>
                  <mat-select multiple style="color: white"   formControlName="honorariosExtrasSeleccionados" 
                  [(ngModel)]="honorariosExtrasSeleccionados" (selectionChange)="cambioTipoHonorarioExtra($event.value)">
                    <mat-option value="primera_instancia">Honorario 1º Instancia</mat-option>
                    <mat-option value="ejecucion">Honorario Ejecución</mat-option>
                    <mat-option value="alzada">Honorario Alzada</mat-option>
                    <mat-option value="diferencia">Honorario Diferencia</mat-option>
                  </mat-select>
                </mat-form-field>


                <div class="flex-responsive">
                <mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('alzada')">
                  <mat-label>Estado - Alzada</mat-label>
                  <mat-select formControlName="estado_alzada" [(ngModel)]="estadosHonorariosExtras['alzada']">
                    <mat-option *ngFor="let est of estadosPorTipo['alzada']" [value]="est">{{ est }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('alzada')">
                  <mat-label>Subestado - Alzada</mat-label>
                  <mat-select formControlName="subestado_alzada">
                    <mat-option *ngFor="let sub of getSubestadosPorEstado('alzada')" [value]="sub">
                      {{ sub }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                </div>

                <ion-input
                *ngIf="honorariosExtrasSeleccionados.includes('alzada')"
                  type="date"
                  class="input-busqueda"
                  formControlName="fecha_alzada"
                  name="fecha_alzada"
                  id="fecha_alzada">
                </ion-input>

                <!-- UMA para Honorarios de Alzada -->
          <ng-container *ngIf="honorariosExtrasSeleccionados.includes('alzada')">
            
            <ion-input
              placeholder="Cantidad de UMA (Alzada)" 
              formControlName="cantidadUMA_alzada"
              class="input-busqueda"
              type="text"
              [(ngModel)]="cantidadUMA_alzada"
              (ngModelChange)="calcularMontoUMA_Alzada()">
            </ion-input>

            <div class="centrado-total">
              <mat-form-field appearance="outline" class="half-width">
                <mat-label style="color: white">Seleccioná UMA (Alzada)</mat-label>
                <mat-select
                  formControlName="umaSeleccionado_alzada"
                  [compareWith]="compararUMA"
                  (selectionChange)="calcularMontoUMA_Alzada()"
                  style="color: white">
                  
                  <mat-option value="acuerdo">Acuerdo</mat-option>
                  <mat-option *ngFor="let umas of uma" [value]="umas">
                    {{ umas.valor }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          <h2 *ngIf="montoUMA_alzada && montoUMA_alzada > 0" class="centrado-total" style="color: white;">
            MONTO ALZADA: ${{ montoUMA_alzada | number:'1.0-0' }}
          </h2>


          </ng-container>

          <div class="flex-responsive">
              <mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('ejecucion')">
                <mat-label>Estado - Ejecución</mat-label>
                <mat-select formControlName="estado_ejecucion" [(ngModel)]="estadosHonorariosExtras['ejecucion']">
                  <mat-option *ngFor="let est of estadosPorTipo['ejecucion']" [value]="est">{{ est }}</mat-option>
                </mat-select>
              </mat-form-field>

            <mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('ejecucion')">
              <mat-label>Subestado - Ejecución</mat-label>
              <mat-select formControlName="subestado_ejecucion">
                <mat-option *ngFor="let sub of getSubestadosPorEstado('ejecucion')" [value]="sub">
                  {{ sub }}
                </mat-option>
              </mat-select>
            </mat-form-field>

                </div>
              

              <ion-input
                *ngIf="honorariosExtrasSeleccionados.includes('ejecucion')"
                type="date"
                class="input-busqueda"
                formControlName="fecha_ejecucion"
                name="fecha_ejecucion"
                id="fecha_ejecucion">
              </ion-input>

              <ion-input
              *ngIf="honorariosExtrasSeleccionados.includes('ejecucion')"
              type="number"
              placeholder="Monto ejecución"
              class="input-busqueda"
              formControlName="monto_ejecucion">
            </ion-input>

          <div class="flex-responsive">

                <mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('diferencia')">
                  <mat-label>Estado - Diferencia</mat-label>
                  <mat-select formControlName="estado_diferencia" [(ngModel)]="estadosHonorariosExtras['diferencia']">
                    <mat-option *ngFor="let est of estadosPorTipo['diferencia']" [value]="est">{{ est }}</mat-option>
                  </mat-select>
                </mat-form-field>

<mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('diferencia')">
  <mat-label>Subestado - Diferencia</mat-label>
  <mat-select formControlName="subestado_diferencia">
    <mat-option *ngFor="let sub of getSubestadosPorEstado('diferencia')" [value]="sub">
      {{ sub }}
    </mat-option>
  </mat-select>
</mat-form-field>

          </div>

                
                <mat-form-field *ngIf="honorariosExtrasSeleccionados.includes('diferencia')">
                  <mat-label>Subestado - Diferencia</mat-label>
                  <mat-select formControlName="subestado_diferencia">
                    <mat-option *ngFor="let sub of getSubestadosPorEstado('diferencia')" [value]="sub">
                      {{ sub }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                

                <ion-input
                *ngIf="honorariosExtrasSeleccionados.includes('diferencia')"
                  type="date"
                  class="input-busqueda"
                  formControlName="fecha_diferencia"
                  name="fecha_diferencia"
                  id="fecha_diferencia">
                </ion-input>

                <ion-input
                *ngIf="honorariosExtrasSeleccionados.includes('diferencia')"
                type="number"
                placeholder="Monto diferencia"
                class="input-busqueda"
                formControlName="monto_diferencia">
              </ion-input>




                
                    <div class="flex-responsive">
                  <button mat-button class="menu-estado; " style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('5')">
                    <span style="color: #ffffff">Anterior</span>
                  </button>
                  <button mat-button class="menu-estado" style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('7')">
                    <span style="color: #ffffff">Siguiente</span>
                  </button>
                </div>
              </div>

              <!-- Mostrar expediente con datos modificados -->
              <div *ngIf="menu == '7'">
                <span>Aca se mostrara todo lo actualizado</span>

                    <div class="flex-responsive">
                    <button mat-button class="menu-estado; " style="background-color:#015dbb; margin-top: 5%" (click)="cambiarMenu('5')">
                    <span style="color: #ffffff">Anterior</span>
                  </button>
                  <button mat-button class="menu-estado" style="background-color:#015dbb" (click)="actualizarEstado()">
                    <span style="color: #ffffff">Actualizar estado</span>
                  </button>
                    </div>

                    
              </div>
          </form>
        </ion-list>
      </div>
    </mat-sidenav-content>
</div>

