.dialog-container {
  width: 400px;
  max-height: 80vh;
  overflow-y: auto; /* Permite scroll vertical si es necesario */
  display: flex;
  flex-direction: column;
}

.formulario-expediente {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-form-field {
  width: 100%;
}

.clientes-agregados {
  margin-top: 10px;
  max-height: 150px;
  overflow-y: auto; /* Scroll solo en clientes agregados */
  background: #0e2a47;
  padding: 10px;
  border-radius: 5px;
}

.cliente-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #193554;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  color: white;
}
