<div class="content mat-elevation-z8">
  <ion-list class="lista-clientes">

    <div class="toolbar">
      <input
        placeholder="Buscar juzgado"
        class="input-busqueda"
        [(ngModel)]="busqueda"
        (ngModelChange)="buscar()">

      <button mat-button class="list-button" (click)="abrirDialog()">
        <mat-icon style="color:#ffffff">cases</mat-icon>
        <span style="color:#ffffff">Agregar juzgado</span>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color:#ffffff">download</mat-icon>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color:#ffffff">more_vert</mat-icon>
      </button>
    </div>

    <div>
      <ion-item-sliding *ngFor="let juzgado of juzgados" class="cliente">
        <ion-item class="cliente" *ngIf="hayJuzgados && juzgados.length > 0">

          <div style="width:100%; display:flex; justify-content:space-between; align-items:center">
            <h1 style="margin:0">{{ juzgado.nombre }}</h1>

            <div style="display:flex; gap:8px">
              <button mat-button class="list-button" (click)="eliminarJuzgado(juzgado)">
                <mat-icon style="color:#ffffff">delete</mat-icon>
              </button>

              <button mat-button class="list-button" (click)="abrirModificar(juzgado)">
                <mat-icon style="color:#ffffff">edit</mat-icon>
              </button>
            </div>
          </div>

        </ion-item>
      </ion-item-sliding>

      <ion-item *ngIf="!hayJuzgados && juzgados.length <= 0" class="cliente">
        <ion-label text-center>{{ texto }}</ion-label>
      </ion-item>
    </div>

  </ion-list>
</div>
