<div class="calendario-avanzado">
  <h1 class="titulo">
    <mat-icon style="color: white" class="titulo-icono">calendar_month</mat-icon>
    Calendario de Mediaciones y Audiencias
  </h1>


  <!-- Encabezado de mes -->
  <div class="encabezado">
    <button mat-icon-button (click)="mesAnterior()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h2>{{ nombreMes[mesActual] }} {{ anioActual }}</h2>
    <button mat-icon-button (click)="mesSiguiente()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>

  <!-- Días de la semana -->
  <div class="dias-semana">
    <div *ngFor="let d of ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb']" class="dia-semana">{{ d }}</div>
  </div>

  <!-- Días del mes -->
<!-- Días del mes -->
<div class="dias-mes">
  <div *ngFor="let dia of diasDelMes" 
       [ngClass]="{ 'dia': true, 'evento': dia?.tieneEvento }"
       (click)="seleccionarDia(dia.dia)">
    {{ dia?.dia || '' }}
  </div>
</div>


<div *ngFor="let evento of eventosSeleccionados" 
     [ngClass]="'evento-seleccionado ' + obtenerColorTipo(evento.tipo_evento)"
     class="evento-item-horario flex"
    (click)="mostrarDetallesEvento(evento)">


  <div class="hora-evento">
    {{ evento.fecha_evento | date:'HH:mm' }}
  </div>
    <div class="linea-vertical"></div>

  <div class="detalle-evento">
    <div class="titulo-evento">
      {{ evento.tipo_evento }}
    </div>
    <div class="rango-horario">
      {{ evento.fecha_evento | date:'HH:mm' }} - {{ sumarUnaHoraDesdeFecha(evento.fecha_evento) }}
    </div>
  </div>
</div>

</div>

<div class="calendario-container">
  <!-- Botón para mostrar el formulario -->
  <div class="toolbar">
    <button mat-raised-button color="accent" (click)="mostrarFormulario = !mostrarFormulario">
      <mat-icon>{{ mostrarFormulario ? 'close' : 'add' }}</mat-icon>
      {{ mostrarFormulario ? 'Cerrar formulario' : 'Agregar evento' }}
    </button>
  </div>

    <div class="formulario-container" *ngIf="mostrarFormulario">
  <mat-card class="calendar-card">
    <mat-card-title>Cargar nuevo evento</mat-card-title>
    <mat-card-content>
      <form class="formulario-evento">       
        <mat-form-field appearance="outline" style="color: white;">
          <mat-label style="color: white;">Fecha del evento</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="nuevoEvento.fecha_evento" name="fecha_evento" style="color: white;">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        
        <mat-form-field appearance="outline" style="color: white;">
          <mat-label style="color: white;">Hora</mat-label>
          <input matInput type="time" [(ngModel)]="nuevoEvento.hora_evento" name="hora_evento" style="color: white;">
        </mat-form-field>
        
        <mat-form-field appearance="outline" style="color: white;">
          <mat-label style="color: white;">Tipo</mat-label>
          <mat-select [(ngModel)]="nuevoEvento.tipo_evento" name="tipo_evento" style="color: white;"[disabled]="editando">
>
            <mat-option value="Audiencia 360 virtual">Audiencia 360 virtual</mat-option>
            <mat-option value="Audiencia 360 personal">Audiancia 360 personal</mat-option>
            <mat-option value="Mediación">Mediación</mat-option>
            <mat-option value="Otro">Otro</mat-option>

          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="nuevoEvento.tipo_evento == 'Otro'" appearance="outline" style="color: white;">
          <mat-label style="color: white;">Descripcion</mat-label>
          <input matInput type="text" [(ngModel)]="nuevoEvento.descripcion" name="descripcion" style="color: white;">
        </mat-form-field>

        <!-- Campos adicionales si el tipo es Mediación -->
        <!-- <div *ngIf="nuevoEvento.tipo_evento == 'Mediación'"> -->

        <mat-form-field *ngIf="nuevoEvento.tipo_evento == 'Mediación'" appearance="outline">
          <mat-label style="color: white;">Número de mediación</mat-label>
          <input matInput [(ngModel)]="nuevaMediacion.numero" name="numero_mediacion" style="color: white;">
        </mat-form-field>

        <mat-form-field *ngIf="nuevoEvento.tipo_evento == 'Mediación'" appearance="outline">
          <mat-label style="color: white;">Abogado</mat-label>
          <mat-select [(ngModel)]="nuevaMediacion.abogado_id" name="abogado_id" style="color: white;">
            <mat-option *ngFor="let abogado of listaAbogados" [value]="abogado.id">
              {{ abogado.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

       <!--  <mat-form-field *ngIf="nuevoEvento.tipo_evento == 'Mediación' || nuevoEvento.tipo_evento == 'Audiencia 360 personal' || nuevoEvento.tipo_evento == 'Audiencia 360 virtual'" appearance="outline">
          <mat-label style="color: white;">Cliente</mat-label>
          <mat-select [(ngModel)]="nuevaMediacion.cliente_id" (optionSelected)="seleccionarCliente($event.option.value)" name="cliente_id" style="color: white;">
            <mat-option *ngFor="let cliente of listaClientes" [value]="cliente.id">
              {{ cliente.nombre }} {{ cliente.apellido }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->



<mat-form-field appearance="outline" class="full-width" *ngIf="nuevoEvento.tipo_evento == 'Mediación'">
  <mat-label style="color: white;">Clientes</mat-label>
  <input
    matInput
    [formControl]="clienteCtrl"
    [matAutocomplete]="auto"
    placeholder="Busca por nombre o apellido"
    style="color: white;"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayCliente"
    (optionSelected)="seleccionarCliente($event.option.value)">
    <mat-option *ngFor="let cliente of filteredClientes | async" [value]="cliente">
      {{ cliente.nombre }} {{ cliente.apellido }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>


<div class="clientes-agregados" *ngIf="nuevoEvento.tipo_evento == 'Mediación'">
  <h3 style="color:aliceblue">Clientes Agregados</h3>
  <div *ngFor="let cliente of clientesAgregados" class="cliente-item">
    {{ cliente.nombre }} {{ cliente.apellido }}
    <button mat-icon-button color="warn" (click)="eliminarCliente(cliente)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>


    

        

        <mat-form-field *ngIf="nuevoEvento.tipo_evento == 'Mediación'" appearance="outline">
          <mat-label style="color: white;">Demandado</mat-label>
          <mat-select [(ngModel)]="nuevaMediacion.demandado_id" name="demandado_id" style="color: white;">
            <mat-option *ngFor="let demandado of listaDemandados" [value]="demandado.id">
              {{ demandado.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="nuevoEvento.tipo_evento == 'Mediación'" appearance="outline">
          <mat-label style="color: white;">Mediadora</mat-label>
          <input matInput [(ngModel)]="nuevaMediacion.mediadora" name="mediadora" style="color: white;">
        </mat-form-field>

  <!--      <mat-form-field *ngIf=" nuevoEvento.tipo_evento == 'Audiencia 360 personal'" appearance="outline">
          <mat-label style="color: white;">Ubicación</mat-label>
          <input matInput [(ngModel)]="nuevoEvento.ubicacion" name="ubicacion" style="color: white;">
        </mat-form-field> -->

<mat-form-field appearance="outline" *ngIf="nuevoEvento.tipo_evento === 'Audiencia 360 virtual' || nuevoEvento.tipo_evento === 'Audiencia 360 personal'">
  <mat-label style="color: white;">Expediente</mat-label>
  
  <input
    type="text"
    matInput
    [formControl]="expedienteCtrl"
    [matAutocomplete]="autoExp"
    placeholder="Buscar por número, año o cliente"
    style="color: white;" />

  <mat-autocomplete 
    #autoExp="matAutocomplete" 
    [displayWith]="displayExpediente"
    (optionSelected)="seleccionarExpediente($event.option.value)">
    
    <mat-option *ngFor="let expediente of filteredExpedientes | async" [value]="expediente">
      {{ expediente.numero }}/{{ expediente.anio }} {{expediente.caratula}}

    </mat-option>
  </mat-autocomplete>
</mat-form-field>





        <mat-form-field appearance="outline" *ngIf="nuevoEvento.tipo_evento === 'Audiencia 360 virtual'">
        <mat-label style="color: white;">Link virtual (Zoom, Meet, etc.)</mat-label>
        <input matInput [(ngModel)]="nuevoEvento.link_virtual" name="link_virtual" placeholder="https://..." style="color: white;" />
        </mat-form-field>


      <!--  </div> -->

        <button mat-raised-button color="primary" (click)="guardarEvento()">Guardar evento</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

  <!-- Formulario de carga -->
