.calendario-container {
    padding: 20px;
    color: white;
  }
  
  .titulo {
    margin-bottom: 20px;
    color: white;
  }
  
  .calendar-card {
    margin-bottom: 20px;
    background-color: #002b5c;
    color: white;
  }
  
  .eventos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
  
  .evento-card {
    background-color: #004a9f;
    color: white;
    width: 300px;
  }
  