<div> 
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon style="color: #ffffff">menu</mat-icon>
    </button>
    <span style="color: #ffffff">ESTADOS</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container" style="background-color: #1976d2">
    <mat-sidenav #sidenav mode="side" opened>
      <div class="sidebar-content">
        <img class="avatar mat-elevation-z8" src="../../../assets/botones/user.png" />
        <h4 class="name">Andres Mastrapasqua</h4>
        <p class="designation">Abogado</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
          <mat-icon style="color: #ffffff">home</mat-icon>
          <span style="color: #ffffff">Menú</span>
        </button>
        <button mat-button class="menu-button" (click)="goTo('/lista-clientes')">
          <mat-icon style="color: #ffffff">person</mat-icon>
          <span style="color: #ffffff">Clientes</span>
        </button>

        <button mat-button class="menu-button" [matMenuTriggerFor]="expedienteMenu">
          <mat-icon style="color: #ffffff">folder_open</mat-icon>
          <span style="color: #ffffff">Expedientes</span>
        </button>

        <mat-menu #expedienteMenu="matMenu">
          <button mat-menu-item (click)="goTo('/lista-expedientes')">
            <mat-icon>gavel</mat-icon>
            <span>Listado</span>
          </button>
          <button mat-menu-item (click)="goTo('/estado')">
            <mat-icon>location_on</mat-icon>
            <span>Estados</span>
          </button>
        </mat-menu>



        <button mat-button class="menu-button" [matMenuTriggerFor]="generalMenu">
          <mat-icon style="color: #ffffff">apps</mat-icon>
          <span style="color: #ffffff">General</span>
        </button>

        <mat-menu #generalMenu="matMenu">
          <button mat-menu-item (click)="goTo('/juzgados')">
            <mat-icon>gavel</mat-icon>
            <span>Juzgados</span>
          </button>
          <button mat-menu-item (click)="goTo('/localidades')">
            <mat-icon>location_on</mat-icon>
            <span>Localidades</span>
          </button>
          <button mat-menu-item (click)="goTo('/demandado')">
            <mat-icon>gavel</mat-icon>
            <span>Demandados</span>
          </button>
        </mat-menu>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
          <mat-icon style="color: #ffffff">settings</mat-icon>
          <span style="color: #ffffff">Ajustes</span>
        </button>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        <ion-list class="lista-clientes">
          <!-- Sección 1: Búsqueda de expediente -->
          <div *ngIf="menu == '1'">

            <div class="toolbar">
              <ion-input 
                placeholder="Número" 
                class="input-busqueda"
                (keypress)="validateNumber($event)"
                [(ngModel)]="numero">
              </ion-input>
      
              <ion-input 
                placeholder="Año" 
                class="input-busqueda"
                (keypress)="validateNumber($event)"
                [(ngModel)]="anio">
              </ion-input>

              <form [formGroup]="form">

              <mat-form-field appearance="outline" class="full-width" style="width: 100%">
                <mat-label style="color: white">Juzgados</mat-label>
                <mat-select style="color: white" formControlName="juez" [(ngModel)]="juzgadoSeleccionado">
                  <mat-option *ngFor="let juzgado of juzgados" [value]="juzgado">
                    {{ juzgado.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </form>
              

            </div>

            <button mat-button class="menu-button" (click)="buscar()">
              <mat-icon style="color: #ffffff">search</mat-icon>
              <span style="color: #ffffff">Buscar expediente</span>
            </button>
          </div>

          <!-- Sección 2: Información del expediente -->
          <div *ngIf="menu == '2'">
            <button mat-button class="menu-button" (click)="cambiarMenu('1')">
              <mat-icon style="color: #ffffff">arrow_back_ios</mat-icon>
              <span style="color: #ffffff">Regresar</span>
            </button>

<div class="expediente-info">
  <h6 *ngIf="expediente.clientes.length === 1">
    {{ expediente.numero }}/{{ expediente.anio }} {{ expediente.clientes[0].nombre }} {{ expediente.clientes[0].apellido }} contra {{ expediente.demandadoModel.nombre }}
  </h6>
  <h6 *ngIf="expediente.clientes.length > 1">
    {{ expediente.numero }}/{{ expediente.anio }} {{ expediente.clientes[0].nombre }} {{ expediente.clientes[0].apellido }} y otros contra {{ expediente.demandadoModel.nombre }}
  </h6>
  <h6 *ngIf="expediente.clientes.length === 0">
    {{ expediente.numero }}/{{ expediente.anio }} (sin actora) contra {{ expediente.demandadoModel.nombre }}
  </h6>
</div>



            <div class="toolbar">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label style="color: white">Estado del expediente</mat-label>
                <mat-select style="color: white" [(ngModel)]="estadoSeleccionado">
                  <mat-option *ngFor="let estado of estados" [value]="estado">
                    {{ estado }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
            <div style="padding: 16px;">
              <!-- Estado del expediente -->

              

              
              <!-- Formulario reactivo -->
              <form [formGroup]="form" *ngIf="estadoSeleccionado=='sentencia'">
                <div class="divider-container">
                  <mat-divider class="white-divider"></mat-divider>
                  <span class="divider-text">Detalles de la sentencia</span>
                  <mat-divider class="white-divider"></mat-divider>
                </div>

                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">
                  <mat-form-field appearance="outline" class="half-width">
                    <mat-label style="color: white">Honorario</mat-label>
                    <mat-select style="color: white" formControlName="honorario" [(ngModel)]="honorarioSeleccionado" (selectionChange)="actualizarMonto($event.value)">
                      <mat-option *ngFor="let honorario of honorarios" [value]="honorario">
                        {{ honorario }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls?.['honorario']?.invalid && (form.controls?.['honorario']?.dirty || form.controls?.['honorario']?.touched)">
                      <span *ngIf="form.controls?.['honorario']?.errors?.['required']" style="color:red">El honorario es requerido</span>
                    </mat-error>
                  </mat-form-field>
                
                  <mat-form-field appearance="outline" class="half-width">
                    <mat-label style="color: white">Jueces</mat-label>
                    <mat-select style="color: white" formControlName="juez" [(ngModel)]="juezSeleccionado">
                      <mat-option *ngFor="let juez of jueces" [value]="juez">
                        {{ juez.nombre }}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.controls?.['juez']?.invalid && (form.controls?.['juez']?.dirty || form.controls?.['juez']?.touched)">
                      <span *ngIf="form.controls?.['juez']?.errors?.['required']" style="color:red">El juez es requerido</span>
                    </mat-error>
                  </mat-form-field>
                </div>
                
                

                <div class="toolbar">
                <!-- MONTO -->
                  <ion-input
                  placeholder="monto"
                  (keypress)="validateNumber($event)"
                  type="number"
                  class="input-busqueda"
                  formControlName="monto"
                  name="monto"
                  id="monto">
                </ion-input>
        
                <!-- Mensaje de error si la fecha_sentencia no es mayor a fecha_inicio -->
      <!--          <mat-error *ngIf="form.controls?.['monto']?.errors?.['required'] && 
                (form.controls?.['monto']?.dirty || form.controls?.['monto']?.touched)">
  <span style="color: red; font-size: 12px; margin-top: 2px; display: block;">
    El monto es requerido
  </span>
</mat-error> -->



        <!-- Campo de fecha de sentencia -->
        <ion-input
          placeholder="Fecha de sentencia"
          type="date"
          class="input-busqueda"
          formControlName="fecha_sentencia"
          name="fecha_sentencia"
          id="fecha_sentencia">
        </ion-input>

        <!-- Mensaje de error si la fecha_sentencia no es mayor a fecha_inicio -->
  <!--       <mat-error *ngIf="form.controls?.['fecha_sentencia']?.errors?.['required'] && 
        (form.controls?.['fecha_sentencia']?.dirty || form.controls?.['fecha_sentencia']?.touched)">
        <span style="color:red">La fecha de sentencia es requerida</span>
      </mat-error>
      
      <mat-error *ngIf="form.controls?.['fecha_sentencia']?.errors?.['fechaInvalida'] && 
        (form.controls?.['fecha_sentencia']?.dirty || form.controls?.['fecha_sentencia']?.touched)">
        <span style="color:red">La fecha de sentencia debe ser mayor que la fecha de inicio</span>
      </mat-error> -->
      
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="32px">

        <button mat-button style="background-color:#015dbb" (click)="apela = true">
          <span style="color: #ffffff">APELA</span>
        </button>
        
        <button mat-button style="background-color:#015dbb" (click)="apela = false">
          <span style="color: #ffffff">NO APELA</span>
        </button>
      </div>



                </div>

                <!-- Apellido con validaciones 
                <div class="form__group field">
                  <div class="error" *ngIf="form.controls['apellido']?.invalid && (form.controls['apellido']?.dirty || form.controls['apellido']?.touched)">
                    <div *ngIf="form.controls['apellido']?.errors?.['required']">El apellido es requerido</div>
                    <div *ngIf="form.controls['apellido']?.errors?.['pattern']">Únicamente letras y espacios</div>
                  </div>
                </div> -->

                <!-- Jueces -->


              
              </form>

              <button mat-button class="menu-estado" style="background-color:#015dbb" (click)="actualizarEstado()">
                <span style="color: #ffffff">Actualizar estado</span>
              </button>

            </div>
          </div>

        </ion-list>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
