<div class="content mat-elevation-z8">

  <ion-list class="lista-clientes">

    <div class="toolbar">
      <input
        placeholder="Buscar por numero/año"
        class="input-busqueda"
        [(ngModel)]="busqueda"
        (ngModelChange)="buscar()"
      />

      <button mat-button class="list-button" (click)="agregarJurisprudencias()">
        <mat-icon style="color: #ffffff">add_location</mat-icon>
        <span style="color: #ffffff">Agregar jurisprudencia</span>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color: #ffffff">download</mat-icon>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color: #ffffff">more_vert</mat-icon>
      </button>
    </div>

    <div>

      <ng-container *ngIf="hayJurisprudencias && (jurisprudencias?.length ?? 0) > 0; else sinJuris">
        <div
          *ngFor="let j of jurisprudencias"
          class="cliente-container"
        >
          <div class="cliente-header">
            <h2>{{ j.expedienteModel?.caratula }}</h2>

            <div class="acciones">
              <button
                mat-icon-button
                class="list-button"
                (click)="eliminarJurisprudencia(j); $event.stopPropagation()"
              >
                <mat-icon style="color: #ffffff">delete</mat-icon>
              </button>

              <button
                mat-icon-button
                class="list-button"
                (click)="modificarJurisprudencia(j); $event.stopPropagation()"
              >
                <mat-icon style="color: #ffffff">edit</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </ng-container>

      <ng-template #sinJuris>
        <ion-item class="cliente">
          <ion-label class="ion-text-center">{{ texto }}</ion-label>
        </ion-item>
      </ng-template>

    </div>

  </ion-list>

</div>
