<div class="content mat-elevation-z8">

  <ion-list class="lista-clientes">
    <div class="toolbar">
      <ion-input
        placeholder="Buscar por numero/año"
        class="input-busqueda"
        [(ngModel)]="busqueda"
        (ngModelChange)="buscar()">
      </ion-input>

      <button mat-button class="list-button" (click)="agregarJurisprudencias()">
        <mat-icon style="color: #ffffff">add_location</mat-icon>
        <span style="color: #ffffff">Agregar jurisprudencia</span>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color: #ffffff">download</mat-icon>
      </button>

      <button mat-button class="list-button">
        <mat-icon style="color: #ffffff">more_vert</mat-icon>
      </button>
    </div>

    <div>
      <ion-item-sliding *ngFor="let j of jurisprudencias" class="cliente">
        <ion-item class="cliente" *ngIf="hayJurisprudencias && jurisprudencias.length > 0">
          <ion-label>
            <h1>{{ j.expedienteModel?.caratula }}</h1>
          </ion-label>

          <button mat-button class="list-button" (click)="eliminarJurisprudencia(j)">
            <mat-icon style="color: #ffffff">delete</mat-icon>
          </button>

          <button mat-button class="list-button">
            <mat-icon style="color: #ffffff">edit</mat-icon>
          </button>
        </ion-item>
      </ion-item-sliding>

      <ion-item *ngIf="!hayJurisprudencias && jurisprudencias.length <= 0" class="cliente">
        <ion-label text-center>{{ texto }}</ion-label>
      </ion-item>
    </div>

  </ion-list>

</div>
